/*MENU
0 - Geral
1 - Menu
2 - Section Intro
3 - Section História
4 - Section Info
5 - Section Loja
6 - Section Assine
7 - Footer
*/

/*0 - Geral*/

:root {
    --primary-black: #333;
    --secondary-black: #252525;
    --primary-white: #fafafa;
    --primary-grey: #e7e4d8;
    --grey-footer: #d6d3c8;
    /*after class*/
    --circle-brown: #4a2805;
    --circle-orange: #ca6829;
    --circle-moustard: #d5a544;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before {
    content:"";
    display: table;
    clear: both;
}

/*1 - Menu*/

.menu {
    background-color: var(--secondary-black);
}

.menu ul li a {
    font-family: Georgia, serif;
    color: var(--primary-white);
    text-decoration: none;
}

.menu-nav{
    float: right;
}

.menu-nav li{
    display: inline-block; 
}

.menu-nav li a {
    padding: 5px 15px;
    display: block;
}

.menu-nav ul li:after {
    content:"";
    display: block;
    background-color: var(--primary-white);
    height: 5px;
    width: 0;
    transition: .3s;
}

.menu-nav ul li:hover:after {
    width: 100%;
    transition: .3s;
}

/*2 - Section Intro*/

.intro {
    text-align: center;
    color: var(--primary-white);
    background: url(../assets/img/bg-intro.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0px;
    
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.intro h1:after {
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--primary-white);
    margin: 10px auto;
}

.intro h1:hover:after {
    width: 50%;
    transition: .9s;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif
}

/*3 - Section História*/

.sobre {
    padding: 60px;
}

.sobre h2 {
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight:bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item {
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: var(--secondary-black);
    width: 200px;
    color: var(--primary-white);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-family: Georgia, serif;
    position: relative;
    width: 220px;
    padding: 5px 0 10px 0;
    top: -25px;
    
}

.sobre p {
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}



/*CASA*/



/*4 - Section Info*/

.produtos {
    background-color: var(--primary-grey);
    padding: 150px 30px;
    text-align: center;
    font-family: Georgia, serif;
    /* border: 3px solid red; */
}

.produtos-tudo {
    /* border:3px solid #ca6829; */
    margin-right: 150px;
}

.produtos-item h2 {
    text-align: center;
    position: relative;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

.produtos p {
    font-size: 0.85em;
    text-align: left;
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

.produtos-item {
    width: 270px;
    float: left;
    /* border: 3px solid red; */
    margin-top: 30px;
    /* margin: auto; */

}

.produtos-paulista:before {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -150px;
    left: 30%;
    color: var(--circle-brown);
    background-color: var(--circle-brown);
    border: 5px solid var(--primary-grey);
    box-shadow: 0 0 0 5px;
    width: 100px;
    height: 100px;
}

.produtos-carioca:before {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -150px;
    left: 30%;
    color: var(--circle-orange);
    background-color: var(--circle-orange);
    border: 5px solid var(--primary-grey);
    box-shadow: 0 0 0 5px;
    width: 100px;
    height: 100px;
}

.produtos-mineiro:before {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -150px;
    left: 30%;
    color: var(--circle-moustard);
    background-color: var(--circle-moustard);
    border: 5px solid var(--primary-grey);
    box-shadow: 0 0 0 5px;
    width: 100px;
    height: 100px;
}

.produtos a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    padding: 10px 30px;
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    font-size: 1.125em;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-bottom: -100px;
}

.produtos a:hover {
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: 1px solid var(--primary-grey);
}

/*5 - Section Loja*/

.locais {
    font-family: Georgia, serif;
    /* border: 3px solid aqua; */
    margin-top: 50px;;
}

.locais-div {
    float: left;
    /* border: 3px solid rgb(255, 0, 0); */
    margin-left: 20px;
    
    width: 300px;
}

.locais img {
    display: block;
    float: left;
    /* border: 5px solid rgb(248, 244, 9); */
} 

.locais-item {
    /* border: 3px solid palevioletred; */
    overflow: auto;
    margin-bottom: 30px;
}

.locais-item h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.locais-item p {
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 30px;
}

.locais-item a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    padding: 10px 20px;
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    font-size: 1.125em;
    font-weight: bold;
    display: block;
    /* margin: 0 auto; */
    margin-top: 40px;
}

.locais-item a:hover {
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: 1px solid var(--primary-grey);
}

/*6 - Section Assine*/
 
.assine {
    background-color: var(--primary-grey);
    /* border: 3px solid red; */
    height: 150px;
}

.assine-info {
    padding-top: 5px;
    width: 30%;
}

.assine-info h2 {
    font-size: 2.25em;
    font-weight: bold;
    margin-top: 30px;
}

.assine-info p {
    font-style: italic;
    color: var(--primary-black);
}

form {
    margin: 0 auto;
    width: 400px;
    /* border: 1px solid salmon; */
    margin-bottom: 100px;
    margin-top: -80px;
    margin-right: 10px;
}


form button {
    font-size: 1.25em;
    position: absolute;
    /* display: inline; */
    text-transform: uppercase;
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: 1px solid var(--primary-grey);
    padding: 3px;
    height: 35px;
    margin: 0 auto;
}

form button:hover {
    background-color: var(--grey-footer);
    color: var(--primary-black);
    margin: 1px solid var(--primary-black);
}

form input {
    font-size:1.25em; 
    height: 30px;
    font-style: italic;
    font-weight: initial;
    margin: 0 auto;
    background-color: var(--primary-grey);
    border: 1px solid var(--primary-black);
    font-family: Georgia, serif
}

/*7 - Footer*/

.footer { 
    background-color: var(--grey-footer);
    border: 3px solid blue;
    width: 100%;
    display: block;
    padding: 50px;
}

/*Cores encontradas com o color picker
  (https://imagecolorpicker.com)
  bege da parte dos cafés: #e7e5d8
  bege do email: #e9e6d7
  footer: #d6d4c8
  primeiro circulo (marrom): #4a2805
  segundo circulo (laranja): #ca6829
  terceiro circulo (mostarda): #d6a544
 */